{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

      {{- if not .Page.Params.HidePublicationDate }}
      <div class="post-meta">
          <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
          {{ with .Params.categories -}}
            <div class="post-category">
              {{ range . -}}
                <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
              {{ end -}}
            </div>
          {{- end }}
        </div>
      {{- end }}
    </header>

    <!-- TOC -->
    {{- partial "post/toc.html" . -}}

    <!-- Outdated Info Warning -->
    {{- partial "post/outdated-info-warning.html" . -}}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    {{- partial "post/copyright.html" . -}}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . -}}
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{ else }}/{{ end }}">{{ . }}</a>
          {{ end -}}
        </div>
      {{- end -}}

      <!-- Post Pagination -->
      {{- if not .Page.Params.HidePagination }}
      <nav class="post-nav">
        {{ with .NextInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <i class="fas fa-chevron-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">Previous</span>
          </a>
        {{- end }}
        {{ with .PrevInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">Next</span>
            <i class="fas fa-chevron-right"></i>
          </a>
        {{- end }}
      </nav>
      {{- end }}
    </footer>
  </article>
{{- end }}
