<!-- highlight.js -->
{{- if .Site.Params.highlightInClient -}}
  <script src="{{ "lib/highlight/highlight.pack.js?v=20171001" | relURL }}"></script>
{{- end -}}

<!-- core -->
{{- if .Site.Params.publicCDN.enable }}
  {{ .Site.Params.publicCDN.jquery | safeHTML }}
  {{ .Site.Params.publicCDN.slideout | safeHTML }}
{{- else -}}
  <script type="text/javascript" src="{{ "lib/jquery/jquery-3.2.1.min.js" | relURL }}"></script>
  <script type="text/javascript" src="{{ "lib/slideout/slideout-1.0.1.min.js" | relURL }}"></script>
{{- end -}}

{{ $even := resources.Get "js/even.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $even $main | resources.Concat "js/main.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
