@font-face {
  font-family: 'Fira Code';
  src: url("/font/FiraCode-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rosario';
  src: url("/font/Rosario-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Condensed';
  src: url("/font/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.post-list {
  /* Each box, preview image, title.
	Each one is an li.
	*/ }
  .post-list .preview-img {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 0 0 2rem 0; }
  .post-list .preview-ul {
    padding-left: 0;
    margin: 0 0; }
  .post-list .preview {
    list-style-type: none;
    height: 6rem;
    position: relative;
    border-top: 4px solid #533633;
    border-left: 2px solid #B4B881;
    border-right: 1px solid #433F3C;
    border-bottom: 1px solid #433F3C;
    border-radius: 0 0 2rem 0;
    box-shadow: 3px 3px 3px #DDD; }
  .post-list .preview:not(:first-child) {
    margin-top: 1rem; }
  .post-list .preview-title {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 0 0 2rem 0;
    background: linear-gradient(90deg, rgba(83, 54, 51, 0.3) 0%, rgba(83, 54, 51, 0.6) 2rem);
    z-index: 1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    pointer-events: none; }
  .post-list .preview-title::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(83, 54, 51, 0.3) 0%, #533633 2rem);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.05s linear;
    border-radius: 0 0 25px 0; }
  .post-list .preview-a-img:hover + .preview-title::before {
    opacity: 1; }
  .post-list .preview-title:hover::before {
    opacity: 1; }
  .post-list .preview-date {
    display: flex;
    font-family: Fira Code, monospace;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(180, 184, 129, 0.8) 0.25rem);
    padding: 0.125rem 0.75rem 0.125rem 0.5rem;
    pointer-events: none; }
    .post-list .preview-date .feather {
      margin-right: 0.5rem;
      color: #533633; }
  @media (min-width: 800px) {
    .post-list h1 {
      margin-top: 1rem; } }
/* Background */
.chroma {
  color: #586e75;
  background-color: #eee8d5; }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block; }

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc; }

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* Keyword */
.chroma .k {
  color: #859900; }

/* KeywordConstant */
.chroma .kc {
  color: #859900;
  font-weight: bold; }

/* KeywordDeclaration */
.chroma .kd {
  color: #859900; }

/* KeywordNamespace */
.chroma .kn {
  color: #dc322f;
  font-weight: bold; }

/* KeywordPseudo */
.chroma .kp {
  color: #859900; }

/* KeywordReserved */
.chroma .kr {
  color: #859900; }

/* KeywordType */
.chroma .kt {
  color: #859900;
  font-weight: bold; }

/* Name */
.chroma .n {
  color: #268bd2; }

/* NameAttribute */
.chroma .na {
  color: #268bd2; }

/* NameBuiltin */
.chroma .nb {
  color: #cb4b16; }

/* NameBuiltinPseudo */
.chroma .bp {
  color: #268bd2; }

/* NameClass */
.chroma .nc {
  color: #cb4b16; }

/* NameConstant */
.chroma .no {
  color: #268bd2; }

/* NameDecorator */
.chroma .nd {
  color: #268bd2; }

/* NameEntity */
.chroma .ni {
  color: #268bd2; }

/* NameException */
.chroma .ne {
  color: #268bd2; }

/* NameFunction */
.chroma .nf {
  color: #268bd2; }

/* NameFunctionMagic */
.chroma .fm {
  color: #268bd2; }

/* NameLabel */
.chroma .nl {
  color: #268bd2; }

/* NameNamespace */
.chroma .nn {
  color: #268bd2; }

/* NameOther */
.chroma .nx {
  color: #268bd2; }

/* NameProperty */
.chroma .py {
  color: #268bd2; }

/* NameTag */
.chroma .nt {
  color: #268bd2;
  font-weight: bold; }

/* NameVariable */
.chroma .nv {
  color: #268bd2; }

/* NameVariableClass */
.chroma .vc {
  color: #268bd2; }

/* NameVariableGlobal */
.chroma .vg {
  color: #268bd2; }

/* NameVariableInstance */
.chroma .vi {
  color: #268bd2; }

/* NameVariableMagic */
.chroma .vm {
  color: #268bd2; }

/* Literal */
.chroma .l {
  color: #2aa198; }

/* LiteralDate */
.chroma .ld {
  color: #2aa198; }

/* LiteralString */
.chroma .s {
  color: #2aa198; }

/* LiteralStringAffix */
.chroma .sa {
  color: #2aa198; }

/* LiteralStringBacktick */
.chroma .sb {
  color: #2aa198; }

/* LiteralStringChar */
.chroma .sc {
  color: #2aa198; }

/* LiteralStringDelimiter */
.chroma .dl {
  color: #2aa198; }

/* LiteralStringDoc */
.chroma .sd {
  color: #2aa198; }

/* LiteralStringDouble */
.chroma .s2 {
  color: #2aa198; }

/* LiteralStringEscape */
.chroma .se {
  color: #2aa198; }

/* LiteralStringHeredoc */
.chroma .sh {
  color: #2aa198; }

/* LiteralStringInterpol */
.chroma .si {
  color: #2aa198; }

/* LiteralStringOther */
.chroma .sx {
  color: #2aa198; }

/* LiteralStringRegex */
.chroma .sr {
  color: #2aa198; }

/* LiteralStringSingle */
.chroma .s1 {
  color: #2aa198; }

/* LiteralStringSymbol */
.chroma .ss {
  color: #2aa198; }

/* LiteralNumber */
.chroma .m {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberBin */
.chroma .mb {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberFloat */
.chroma .mf {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberHex */
.chroma .mh {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberInteger */
.chroma .mi {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #2aa198;
  font-weight: bold; }

/* LiteralNumberOct */
.chroma .mo {
  color: #2aa198;
  font-weight: bold; }

/* OperatorWord */
.chroma .ow {
  color: #859900; }

/* Comment */
.chroma .c {
  color: #93a1a1;
  font-style: italic; }

/* CommentHashbang */
.chroma .ch {
  color: #93a1a1;
  font-style: italic; }

/* CommentMultiline */
.chroma .cm {
  color: #93a1a1;
  font-style: italic; }

/* CommentSingle */
.chroma .c1 {
  color: #93a1a1;
  font-style: italic; }

/* CommentSpecial */
.chroma .cs {
  color: #93a1a1;
  font-style: italic; }

/* CommentPreproc */
.chroma .cp {
  color: #93a1a1;
  font-style: italic; }

/* CommentPreprocFile */
.chroma .cpf {
  color: #93a1a1;
  font-style: italic; }

/* Generic */
.chroma .g {
  color: #d33682; }

/* GenericDeleted */
.chroma .gd {
  color: #d33682; }

/* GenericEmph */
.chroma .ge {
  color: #d33682; }

/* GenericError */
.chroma .gr {
  color: #d33682; }

/* GenericHeading */
.chroma .gh {
  color: #d33682; }

/* GenericInserted */
.chroma .gi {
  color: #d33682; }

/* GenericOutput */
.chroma .go {
  color: #d33682; }

/* GenericPrompt */
.chroma .gp {
  color: #d33682; }

/* GenericStrong */
.chroma .gs {
  color: #d33682; }

/* GenericSubheading */
.chroma .gu {
  color: #d33682; }

/* GenericTraceback */
.chroma .gt {
  color: #d33682; }

/* GenericUnderline */
.chroma .gl {
  color: #d33682; }

.post {
  font-family: 'Rosario', sans-serif;
  font-size: 1rem; }
  .post .info {
    display: flex;
    justify-content: space-between; }
  .post .date {
    display: flex;
    color: #B4B881;
    font-family: Fira Code, monospace; }
    .post .date > svg {
      height: 1rem;
      width: auto;
      margin-right: 0.5rem; }
  .post .categories {
    display: flex; }
  .post .category {
    font-size: 0.8rem; }
  .post .category:not(:first-child) {
    padding-right: 1em; }
  .post .content .highlight > .chroma {
    position: relative;
    border-radius: 0 0 0.5rem 0;
    border-top: 2px solid #533633;
    border-bottom: 1px solid #B4B881;
    border-left: 1px dashed #B4B881;
    border-right: 1px solid #433F3C;
    box-shadow: 3px 3px 3px #DDD; }
  .post .content .highlight {
    position: relative; }
  .post .content .chroma {
    margin: 0;
    font-family: Fira Code;
    font-size: 0.85rem;
    overflow-x: auto; }
    .post .content .chroma td:first-child {
      border-right: 1px dotted #533633;
      padding-right: 0.25em;
      background-color: rgba(180, 184, 129, 0.4);
      left: 0; }
    .post .content .chroma .lnt {
      padding: 0;
      margin: 0;
      color: black;
      background-color: rgba(180, 184, 129, 0.4);
      padding-left: 1rem; }
    .post .content .chroma td:first-child > .chroma > code {
      /* In reality: this applies to two scenarios.
        1. Without line numbers: a single <code>.
        2. With line numbers: both <code> for line numbers AND the code itself.
        If we let the below code declaration free with a padding, it will
        apply to our line numbers too, and we don't want that
        because we have a separate background-color on line numbers
        that padding would mess up.
        But if we only have one <code> block (no linenos) then this will never apply.
        */
      margin: 0;
      font-family: Fira Code; }
    .post .content .chroma code {
      font-family: Fira Code;
      display: inline-block;
      margin-left: 1rem; }
  .post .content :not(pre):not(h1):not(h2):not(h3) > code {
    font-family: Fira Code;
    font-size: 0.85rem;
    border: 1px solid #B4B881;
    padding: 0 0.25rem 0 0.25rem;
    border-radius: 3px;
    background: white; }
  .post .content video {
    width: 75%;
    display: block;
    margin: 0 auto; }
  .post .content img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .post details {
    position: relative; }
    .post details > summary {
      padding-left: 2.5rem;
      cursor: pointer;
      border-bottom: 1px solid #533633;
      list-style: none;
      transition: border-color 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86); }
    .post details > summary::-webkit-details-marker {
      display: none; }
    .post details > summary:before {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0.25rem;
      border-radius: 0.25rem 0.25rem 0.5rem 0.25rem;
      content: '++';
      color: #fff;
      font-size: 1.25rem;
      font-family: 'Fira Code';
      margin: 0 1rem 0 0;
      text-align: center;
      width: 2rem;
      background: #533633;
      transform: translateX(0rem) translateY(0rem);
      transition: transform 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86), background 0.5s ease-in-out; }
    .post details > summary:hover {
      border-color: #B4B881;
      transition: border-color 0.25s cubic-bezier(0.79, 0.14, 0.15, 0.86); }
    .post details > summary:hover::before {
      background: #B4B881;
      transform: translateX(-0.5rem) translateY(0rem);
      transition: transform 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86), border-color 0.25s cubic-bezier(0.79, 0.14, 0.15, 0.86), background 0.5s ease-in-out; }
  .post details[open] summary:before {
    content: '--'; }
  .post .aside-details {
    color: #433F3C;
    font-size: 0.85rem;
    padding-left: 2.5rem;
    margin-bottom: 2rem; }
  .post details[open] .aside-details {
    padding-top: 40px; }
  .post .copy-code-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 1.25rem;
    background: #533633;
    border: none;
    color: white;
    z-index: 1;
    border-radius: 0.25rem 0.25rem 0.25rem 1rem;
    font-family: 'Fira Code';
    font-size: 0.85rem;
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
    transform: translateX(0rem) translateY(0rem); }
  .post .copy-code-button:hover {
    background-color: #B4B881; }
  .post .copy-code-button > svg {
    height: 90%; }

.post-list .who-am-i .typewriter {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content max-content 1fr;
  grid-template-areas: "empty-left prompt text empty-right";
  /* We can't CSS-transition to width-auto.
    * So adjust the width of the child by having a parent that's wide enough,
    * and set the child to be max-content in the grid.
    */
  /* The typing effect */
  /* The typewriter cursor effect */ }
  .post-list .who-am-i .typewriter .empty-left {
    grid-area: empty-left; }
  .post-list .who-am-i .typewriter .empty-right {
    grid-area: empty-right; }
  .post-list .who-am-i .typewriter .prompt {
    font-size: 32px;
    font-family: 'Fira Code';
    color: #B4B881;
    white-space: pre; }
  .post-list .who-am-i .typewriter .text {
    font-size: 32px;
    font-family: 'Fira Code';
    color: #533633;
    font-weight: bold;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid #533633;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    animation: typing 1.25s steps(13, end), blink-caret 1s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #533633; } }

.post-list .who-am-i .blurb {
  font-size: 24px;
  font-family: 'Roboto Condensed';
  margin: 1rem 0; }

.main .about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .about .big {
    font-size: 2rem; }
  .main .about p {
    font-size: 1.1rem; }
  @media (min-width: 800px) {
    .main .about .center {
      padding: 1rem; } }
.main .portfolio .main-title {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.main .portfolio .link {
  font-size: 0.75rem; }

.main .portfolio .grid {
  list-style: none;
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 2rem; }

.main .portfolio .card {
  border: 1px solid #533633;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main .portfolio .card-img-container {
  display: block;
  border-bottom: 1px solid #533633; }

.main .portfolio .card-img {
  display: block;
  width: 100%;
  border-radius: 5px; }

.main .portfolio .card-content {
  padding: 1rem; }
  .main .portfolio .card-content .card-title {
    font-size: 2rem; }

.main .portfolio .card-info {
  display: flex;
  justify-content: center;
  padding: 0.25rem 1rem;
  color: #533633;
  background-color: rgba(180, 184, 129, 0.4);
  border-top: 1px solid #B4B881;
  font-family: Fira Code;
  border-radius: 0 0 5px 5px; }
  .main .portfolio .card-info .feather {
    margin-right: 0.5rem; }
  .main .portfolio .card-info .links .link:not(:first-child) {
    margin-left: 1rem; }

@media (min-width: 1000px) {
  .main .portfolio .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content); } }

.main .contact {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .contact .contact-form .form-field {
    display: flex;
    flex-direction: column; }
    .main .contact .contact-form .form-field label {
      display: flex;
      align-items: center;
      font-size: 1.5em; }
      .main .contact .contact-form .form-field label .feather {
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        color: #533633; }
    .main .contact .contact-form .form-field input {
      font-size: 1.25rem;
      padding: 0.5rem;
      margin: 0.5rem 0.175rem;
      border: 1px solid #533633;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .main .contact .contact-form .form-field input :required {
      border: 2px dotted orange; }
    .main .contact .contact-form .form-field textarea {
      width: 100%;
      font-family: Rosario, sans-serif;
      padding: 0.5rem;
      margin: 0.5rem 0.175rem;
      border: 1px solid #533633;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .main .contact .contact-btn {
    transition: transform 0.05s linear, background 0.05s linear;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border: 1px solid #533633;
    background-color: #533633;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .main .contact .contact-btn .feather {
      margin-left: 0.25rem;
      margin-right: 0.5rem;
      color: white; }
  .main .contact .contact-btn:hover {
    background: rgba(83, 54, 51, 0.8);
    transition: background 0.05s linear; }
  .main .contact .big {
    font-size: 3rem; }
  .main .contact p {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.5rem; }
  .main .contact .small {
    font-size: 1rem;
    color: #B4B881;
    padding-left: 1rem;
    font-family: Fira Code;
    text-align: right; }
  .main .contact .link {
    padding-left: 1rem; }
  .main .contact .feather {
    color: #B4B881;
    height: 30px; }
  .main .contact .gift {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    cursor: grabbing; }
  .main .contact .question {
    font-size: 2.5rem;
    color: #533633;
    font-family: Roboto Condensed;
    cursor: grabbing; }
  .main .contact .fist {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    padding: 0;
    font-size: 2.25rem;
    transition: font-size 0.25s ease-in-out;
    cursor: grabbing; }
  .main .contact .fist:active {
    font-size: 2rem;
    transition: font-size 0.05s ease-in-out; }
  @media (min-width: 800px) {
    .main .contact .center {
      padding: 1rem; } }
* {
  box-sizing: border-box; }

body {
  font-family: Rosario, sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: white;
  height: 100vh; }

.container {
  height: 100%; }

#instantclick-bar {
  background: linear-gradient(90deg, #533633 0%, rgba(180, 184, 129, 0.4) 100%); }

/*
All pages are arranged in a grid. There are two main
layouts:
- for small devices, 
     sidebar;
     about
     main
- for bigger devices, tablet or computer:
     sidebar main
     about   main
     about   main.
* sidebar is the main image, and an header that says xy2_.
* about is a nav with some links, in the form of a 
short presentation.
* main is the main content. It can be a list of pages,
or a page itself.
*/
.container {
  display: grid;
  grid-template-areas: 'sidebar' 'about' 'main';
  grid-template-rows: [sidebar] 3rem [about] 2rem; }

.main {
  grid-area: main;
  justify-self: center;
  width: 100%;
  max-width: 750px;
  min-width: 0;
  padding-left: 1rem;
  padding-right: 1rem; }

.sidebar {
  grid-area: sidebar; }

.main-title {
  margin-top: 0; }

.sidebar {
  position: relative;
  border-radius: 0 0 3rem 0;
  box-shadow: 0 0 0.75rem #433F3C; }

.sidebar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 3rem 0; }

.sidebar-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.75rem;
  color: #533633;
  background: rgba(180, 184, 129, 0.5); }

/* CSS is hard. So, don't try to style one nav in
two completely different ways. Instead, we have two divs 
for two different displays of the about sidebar.
- presentation-sm displays things in a 
vertical bar, with links and no description.
It should float to 
- presentation-md displays things in a horizontal list,
with some flavor text, aligned to the right.
*/
.presentation-sm {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0; }

.presentation-md {
  display: none; }

.btn {
  position: relative;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem 0.25rem 1rem 0.25rem;
  transition: background 0.1s linear;
  background: #533633;
  border: none;
  color: white; }

.btn + .btn {
  margin-left: 1rem; }

.btn::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #B4B881;
  z-index: -1;
  border-radius: 0.25rem 0.25rem 1rem 0.25rem;
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
  transform: translateX(0rem) translateY(0rem); }

.btn:link {
  color: white; }

.btn:hover {
  background: rgba(83, 54, 51, 0.8);
  transition: background 0.05s linear; }

.btn:hover::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #B4B881;
  transform: translateX(0.25rem) translateY(0.25rem);
  transition: transform 0.05s linear; }

.btn:active::before {
  transform: translateX(0.5rem) translateY(0.5rem);
  background: rgba(180, 184, 129, 0.4);
  transition: transform 0.05s linear;
  transition: background 0.05s linear; }

.btn-active {
  background-color: #B4B881; }

.about-title {
  font-size: 0.75rem;
  font-family: 'Fira Code';
  color: #B4B881;
  margin-bottom: 0.25rem; }

h1 {
  font-family: Roboto Condensed;
  font-size: 1.75rem;
  color: #533633;
  display: flex; }

h1::after {
  content: ' ';
  margin-bottom: 10px;
  border-radius: 2px;
  margin-left: 0.75rem;
  background: linear-gradient(90deg, #533633 0%, rgba(180, 184, 129, 0.1) 100%);
  height: 3px;
  flex-grow: 1;
  align-self: flex-end; }

h2 {
  font-family: Roboto Condensed;
  font-size: 1.3rem;
  color: #533633;
  display: flex; }

h2::after {
  content: ' ';
  margin-bottom: 6px;
  border-radius: 2px;
  margin-left: 0.25rem;
  background: linear-gradient(90deg, #533633 0%, rgba(180, 184, 129, 0.1) 100%);
  height: 1px;
  flex-grow: 1;
  align-self: flex-end; }

h3 {
  font-family: Roboto Condensed;
  color: #533633;
  display: flex; }

h3::after {
  content: ' ';
  margin-bottom: 5px;
  border-radius: 2px;
  margin-left: 0.25rem;
  background: linear-gradient(90deg, rgba(83, 54, 51, 0.8) 0%, rgba(180, 184, 129, 0) 80%);
  height: 1px;
  flex-grow: 1;
  align-self: flex-end; }

h3 > code {
  font-family: 'Fira Code';
  border: 1px solid #B4B881;
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 3px;
  background: white; }

a {
  color: #533633; }

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-areas: 'sidebar main' 'about main';
    grid-template-columns: [sidebar] minmax(250px, 25fr) [main] 75fr;
    grid-template-rows: [sidebar] 294px;
    grid-column-gap: 1rem; }
  .main {
    padding-left: 0; }
  .presentation-sm {
    display: none; }
  .presentation-md {
    display: inherit;
    text-align: right; }
  .sidebar-img {
    object-fit: none;
    background-color: #433F3C; }
  h1 {
    font-family: Roboto Condensed;
    font-size: 1.8rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem; }
  h1::after {
    font-family: Roboto Condensed;
    margin-top: 1.44rem; }
  h2 {
    font-family: Roboto Condensed;
    font-size: 1.5rem; }
  h2::after {
    font-family: Roboto Condensed;
    margin-top: 1.2rem; } }

@media (min-width: 800px) and (min-width: 800px) {
  h1 {
    margin-top: 1rem; } }

/*# sourceMappingURL=style.css.map */